.main-grid {
    display: grid;
    grid-template-columns: 300px 1fr 170px;
    gap: 20px;
    align-items: start;
}

.main-grid span {
    min-width: 90px;
    color: var(--text-color-f);
}

.main-grid input,
.main-grid textarea,
.main-grid select {
    padding: 0;
    resize: none;
    color: var(--accent);
    background: var(--text-color);
    flex: 1;
    width: 100%;
    font: var(--font-m) var(--sans);
    overflow: hidden;
    height: 24px;
}

.details-column {
    gap: 8px;
}

.details-column > div{
    display: flex;
}

.people-column {
    font-size: var(--font-s);
}

.details-column,
.people-column {
    display: flex;
    flex-direction: column;
}

.person-link {
    text-decoration: none;
    color: inherit;
}

.person-link:hover {
    text-decoration: underline;
}

.person-link--line + .person-link--line::before {
    content: ", ";
}

.array-editor {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.array-editor-row {
    display: flex;
    gap: 3px;
}

.array-editor button {
    text-align: center;
    background: none;
}

.array-editor button:hover {
    box-shadow: none;
}

