.filter-popup {
    position: absolute;
    max-width: 490px;
    width: 40%;
    top: 150px;
    background: var(--bg);
    border-radius: 5px;
    padding: 15px 30px;
}

.filter-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.filter-options .active {
    font-size: var(--font-m);
    font-weight: bold;
    opacity: 1;
    box-shadow: 0 0 7px var(--text-color-f);
}

.filter-options-button {
    opacity: 0.7;
    background: var(--accent-bg);
    padding: 2px 5px;
}

.filter-section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-f);
    padding: 0 20px;
}

.filter-section-header button {
    text-align: center;
    background: var(--bg);
    height: 28px;
    width: 28px;
}

.filter-year-picker {
    position: relative;
    justify-content: center;
    width: 30%;
    min-width: 60px;
}

.filter-year-picker input {
    width: 100%;
    padding: 5px 10px;
}

.filter-year-dropdown {
    max-height: 200px;
    overflow-y: auto;
    background: var(--accent-bg);
    position: absolute;
    font-size: var(--font-s);
    width: 60px;
    padding: 5px;
    text-align: center;
    z-index: 1000;
}

.filter-year-dropdown div {
    cursor: pointer;
}

.filter-year-dropdown div:hover {
    font-size: var(--font-m);
    box-shadow: 0 0 10px var(--text-color-f);
}

@media (max-width: 660px) {
    .filter-popup {
        width: 70%;
    }
}

@media (max-width: 490px) {
    .filter-popup {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .filter-popup {
        padding: 1px;
        width: 100%;
    }
}