.list-item-number {
    min-width: 25px;
    text-align: right;
    color: var(--text-color-f);
    font-size: var(--font-s);
}

.item-label {
    padding-right: 10px;
    color: var(--text-color-f);
    font-size: var(--font-s);
}

.list-item-button {
    display: flex;
    gap: 15px;
    padding: 5px 0;
}

.list-item-button:hover {
    transform: scaleY(1.1) scaleX(1.02);
}

.card-button {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
}

.card-button:hover {
    transform: scale(1.07);
}

.card-number {
    width: 100%;
    font-size: var(--font-s);
    color: var(--text-color-f);
    line-height: 1;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
}

.poster-wrapper {
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.poster,
.poster-placeholder {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.poster {
    object-fit: cover;
    background: var(--accent-bg);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.poster-placeholder {
    background: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.poster-upload {
    width: 100%;
    position: relative;
}

.poster-upload-button,
.poster-remove-button {
    position: absolute;
    opacity: 0.7;
}
.poster-upload-button {
    inset: 0;
}

.poster-remove-button {
    right: 8px;
    bottom: 8px;
    z-index: 3;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    text-align: center;
}



.poster-upload-button:hover,
.poster-upload-button-drag-over {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--text-color-f);
}

.poster-upload-button:disabled,
.poster-remove-button:disabled {
    cursor: progress;
}

.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 3px 10px;
    font-weight: 500;
    font-size: var(--font-s);
    line-height: 1.22;
    align-self: flex-start;
    height: calc(2lh + 6px);
}