:root {
  --text-color: #ceceda;
  --text-color-f: #777799;
  --text-color-m: #777777;
  --bg: #22232c;
  --body-bg: #16171d;
  --accent: #434f73;
  --accent-bg: #1f2029;
  --accent-border: rgba(192, 132, 252, 0.5);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --font-l: 36px;
  --font-m: 18px;
  --font-s: 15px;
  --font-ss: 10px;

  font: var(--font-m) var(--sans);
  color: var(--text-color);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 768px) {
    --font-l: 32px;
    --font-m: 17px;
    --font-s: 14px;
    --font-ss: 10px;
  }

  @media (max-width: 512px) {
    --font-l: 26px;
    --font-m: 16px;
    --font-s: 13px;
    --font-ss: 8px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  background: var(--bg);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body-bg);
}

h1 {
  font-size: var(--font-l);
  letter-spacing: -1.5px;
  text-align: center;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  border-radius: 5px;
  text-align: left;
  align-items: center;
  background-color: var(--accent-bg);
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--accent);
}

.item-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 660px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 490px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.navigation {
  display: flex;
  gap: 4px;
  margin: 20px auto;
  width: 70%;
  justify-content: center;
}

.navigation button {
  opacity: 0.7;
  width: 4%;
  text-align: center;
  font-size: var(--font-s);
  cursor: pointer;
  min-width: 12px;
}


.navigation button:disabled {
  opacity: 0.3;
  cursor: default;
}


.navigation .active {
  font-size: var(--font-m);
  font-weight: bold;
  opacity: 1;
}
